---
layout: default
---
<div id="search-container">
  <form method="get" action="/search" data-search-form>
    <input type="search" name="q" id="q" placeholder="What are you looking for?" data-search-input />
  </form>
</div>

<div class="main-post-list">

    {% for post in paginator.posts%}
        <div class="post-list__meta"><time datetime="{{ post.date | date: "%-d %b %Y" }}" class="post-list__meta--date date">{{ post.date | date: "%-d %b %Y" }}</time></div>

        <h1 class="post-list__post-title post-title"><a href="{{ site.baseurl }}{{ post.url | remove_first: '/' }}" title="{{ post.title }}">{{ post.title }}</a></h1>
        <!-- <p class="excerpt">{{ post.excerpt | remove: '<p>' | remove: '</p>' }}&hellip;</p> -->

        {{ post.content | split:'<!--break-->' | first }}
    		{% if post.content contains '<!--break-->' %}
    			<a href="{{ post.url }}">read more</a>
    		{% endif %}

        <div class="post-list__meta"><time datetime="{{ post.date | date: "%-d %b %Y" }}" class="post-list__meta--date date">{{ post.date | date: "%-d %b %Y" }}</time> &#8226; <span class="post-meta__tags">on {% for tag in post.tags %}<a href="{{ site.baseurl }}tags/#{{ tag }}">{{ tag }}</a> {% endfor %}</span></div>
        <hr class="post-list__divider">

    {% endfor %}

  <hr class="post-list__divider ">

  {% if paginator.previous_page or paginator.next_page %}
      {% include pagination.html %}
  {% endif %}

</div>
