<ul>
  {% if site.email %}<li><a class="social-btn" href="mailto:{{ site.email }}" target="_blank" rel="noopener noreferrer"><i class="fa fa-fw fa-envelope"></i></a></li>{% endif %}
  {% if site.twitter %}<li><a class="social-btn" href="http://twitter.com/{{ site.twitter }}" target="_blank" rel="noopener noreferrer"><i class="fa fa-fw fa-twitter"></i></a></li>{% endif %}
  {% if site.linkedin %}<li><a class="social-btn" href="http://linkedin.com/in/{{ site.linkedin }}" target="_blank" rel="noopener noreferrer"><i class="fa fa-fw fa-linkedin"></i></a></li>{% endif %}
  {% if site.github %}<li><a class="social-btn" href="http://github.com/{{ site.github }}" target="_blank" rel="noopener noreferrer"><i class="fa fa-fw fa-github"></i></a></li>{% endif %}
  {% if site.youtube %}<li><a class="social-btn" href="https://youtube.com/channel/{{ site.youtube }}" target="_blank" rel="noopener noreferrer"><i class="fa fa-fw fa-youtube"></i></a></li>{% endif %}
  {% if site.about %}<li><a class="social-btn" href="/about/"><i class="fa fa-fw fa-microphone"></i></a></li>{% endif %}
<ul>
