---
layout: compress
---

<!DOCTYPE html>
<html>
{% include head.html %}
<body id="main">

  <div class="block-left">
    <div class="content">
      <div class="main-info">
        <a href="{{ site.url }}" class="logo"><img src="{{ site.url }}/images/{{ site.logo }}"></a>
        </br>
        <h1>
          {{ site.title }}
        </h1>
        <h2>
          {{ site.description }}
        </h2>
        {% include social-links.html %}
      </div>
    </div>
    <canvas></canvas>
  </div>

  <div class="block-right">
    <li><a class="social-btn" href="{{ site.url }}/dispatches/" title="dispatches"><i class="fa fa-fw fa-weibo"></i></a></li>
    <li><a class="social-btn" href="{{ site.url }}/dispatches/" title="dispatches"><i class="fa fa-fw fa-weibo"></i></a></li>

    <a href="{{ site.url }}/dispatches/" title="dispatches" class="posts-menu-icon"></a>&nbsp;&nbsp;&nbsp;
    <span class="posts-link">DISPATCHES</span>
    <a title="project" class="projects-menu-icon">
      <span></span>
    </a>
    <span class="projects-link">PROJECTS</span>
    <div class="content">
      <form method="get" action="/search" data-search-form>
        <input type="search" name="q" id="q" placeholder="Lost Signals" data-search-input />
        <input type="submit" class="fa fa-search" aria-hidden="true" /></i>
      </form>
      <div class="inner-post content">
        {% for post in site.posts limit:1 %}
        <div class="date-highlight">{% if post.date %}{{ post.date | date: '%d %b %Y' }}{% else %}&#x2756;{% endif %}</div>
            <h1>
              {{ post.title | markdownify | remove: "<p>" | remove: "</p>" }}
            </h1>
            {{ post.content}}
        {% endfor %}
        {% include page-pagination.html %}
      </div>
    </div>
  </div>
  {% include overlay.html %}
  {% include scripts.html %}
  <script src="{{ site.url }}/assets/js/canvas.js"></script>
</body>
</html>
